<h1>Please sign in</h1>

<form method="post" action="/sessions">
	<p>
		<input type="text" name='email' placeholder='Email'>
	</p>
	<p>
		<input type="password" name='password' placeholder='Password'>
	</p>
	<p>
		<input type="submit" value="Sign in" class='button'>
	</p>
</form>

<p><a href='/users/reset_password'>Forgotten password?</a></p>

