<h2>Please enter your email address</h2>

<form method="post" action="/users/reset_password" class="button">
	<p>
		<input type="text" name='email' placeholder='Email'>
	</p>
	<p>
		<input type="submit" value="Reset Password" class='button'>
	</p>
</form>