<li class='link'>
	<a class='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		<p><%= link.description %>
	</div>
	<span class="source">
		<!-- added by
		<% if session[:user_name] %>
			<%= @user.name %>
		<% else %>
			Anonymous
		<% end %> -->
	</span>
</li>
