<li class='link'>
	<a class='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
	blah blah blah
	</div>
	<span class="source">
		added yesterday by
		<a href="#">camillavk@gmail.com</a>
	</span>
</li>